html, body {
    margin: 0;
    padding: 0;
    background-color: #e4e4dc;    
    font-family: 'DejaVu Serif', serif;
}
h1 {
    margin: 15px;
    padding: 10px;
    text-align: center; 
    background-color: white;
    border-radius: 5px;
}
.rsa-container {
    margin: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
h3 {
    margin: 10px;
}
.step-section {
    margin: 10px;
    padding: 5px;
    background-color: #e4e4dc;
    border-radius: 5px;
}
fieldset {
    margin: 10px;
    border: 2px solid black;
}
p {
    margin: 10px;
}
table {
    margin: 10px;
    border: 1px solid black;
    border-spacing: 0;
}
thead, th {
    border: 1px solid black;
}
td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
input {
    border: 0; 
    border-radius: 5px; 
}
.button {
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: #666662;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    transition-duration: 0.2s;
}
.button:hover {
    color: black;
}
.color-black {
    color: black;
}
